{% extends 'base.html' %} {% load static %} {% load hastag %} {% block content %}
<div>
    <div class="mt-2 mb-5">
        <h1 class="text-center">Directors</h1>
    </div>

    <div class="mt-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Shows</th>
                </tr>
            </thead>
            <tbody>
                {% if directors %} {% for director, shows in directors.items %}
                <tr class="align-middle">
                    <td class="col-4">
                        <a
                            class="btn btn-outline-dark w-100"
                            href="{% url 'person' %}?name={{director}}"
                            >{{director}}</a
                        >
                    </td>
                    <td class="col-8">
                        <ul class="list-unstyled list-group">
                            {% for show in shows %}
                            <li class="mb-1">
                                <a
                                    class="btn btn-outline-dark w-100"
                                    href="{% url 'show' %}?title={{show|hastag}}"
                                    >{{show}}</a
                                >
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %} {% else %}
                <tr class="text-center">
                    <td colspan="3">No Entries Founded!</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div class="mt-2 d-flex justify-content-between">
        <a
            class="btn btn-primary w-25"
            href="{% url 'directors' %}?page={{previous_page}}"
            role="button"
            >Previous Page</a
        >
        <a
            class="btn btn-primary w-25"
            href="{% url 'directors' %}?page={{next_page}}"
            role="button"
            >Next Page</a
        >
    </div>
</div>
{% endblock %}
